.bg-navbar{
    background-color:#387224;
}
.tituloproducto{
    padding-left: 10px;
    color: black;
}
.descripcionproducto{
    padding-left: 10px;
    color: black;
}
.boton{
    border-style: none;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      );
    padding: 10px;
    transition: all 1s ease;
}

.boton:focus { outline: none; }



.botonagregar{
    transition: all 1s ease;
    border-style: none;
    font-size: 18px;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.botonagregar:hover{
    transition: all 1s ease;
    color: white;
    background-color: #387224;
}





.foter{
    padding: 15px;
    background-color: #387224;
}
.opcionesfooter{
    color: white;
}
.opcionesfooter:hover { color: white; }







.botoncontactanos{
    border-style: none;
    background-color: #004583;
    color: white;
    border-top-right-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10rem;
    transition: all 1s ease;
}
.botoncontactanos:hover{
    background-color:  #387224;
    transition: all 1s ease;
}